/*link styling*/
div{
	display:inline-block;
}
.square{
width: 100px;
height:100px;
background-color:pink;
}

.circle{
width: 100px;
height:100px;
background-color:red;
border-radius: 50%;
}

.triangle{
	width:0;
	height:0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid yellow;
	transform: skew(20deg);
	transform: rotate(-50deg);
}