@font-face {
    font-family: 'jolanaregular';
    src: url('jolana-reg-webfont.woff2') format('woff2'),
         url('jolana-reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}