/*Web Typographic Poster Styling*/
* {
	margin: 0;
	padding: 0;
}
body {
	margin: 100px 300px;
	font-family: quasimoda, arial, sans-serif;
	font-style: normal;
	background-color: #0E0F12;
	color: #feffff;
}
a {
	text-decoration: none;
	color: #feffff;
}
a:hover {
	color: #bb2020;
}
.organization-title {
	font-weight: 800;
	font-size: 2em;
	text-align: right;
	grid-column: 1 / span 2;
	padding-bottom: 50px;
}
.series-title {
	display: grid;
	width: 100%;
	height: 100%;
	margin-left: 150px;
	grid-template-columns: 170px 140px 170px 140px 170px 140px;
	align-items: flex-end;
	font-family: jolana-regular, impact, sans-serif;
	font-size: 2em;
	color: #bb2020;
}
.border{
	display: grid;
	grid-template-rows: 30px;
	grid-template-columns: auto;
	border: 2px solid #000000;
	background-color: #000000;
}
.writeup{
	display: grid;
	grid-template-columns: repeat(2, 50%);
}
.write-up {
	padding: 30px;
	font-weight: 300;
	font-size: 1em;
	line-height: 2.5em;
}
.second {
	padding-top: 10px;
}
.intro {
	font-style: italic;
	font-weight: 300;
	padding-top: 30px;
}
 .svg-leg {
	height: 100%;
	width: 100%;
	position: relative;
} 
.grid-event {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	width: 100%;
	height: 100%;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}
.date {
	font-weight: 400;
	font-size: 1.5em;
	text-align: right;
}
.event {
	line-height: 3em;
}
.event-title {
	font-family: jolana-regular, impact, sans-serif;
	font-style: normal;
	font-size: 24px;
	border-bottom: 3px solid #bb2020;
}
.name {
	font-weight: 200;
	font-size: 1em;
}
@media (max-width: 991px) {
	body {
		font-size: 10px;
		margin: 34px;
	}
	h2 {
		font-size: 12vw;
		padding-bottom: 20px;
	}
	.grid {
		display: block;
	}
	.event {
		padding: 0;
		padding-bottom: 40px;
	}
	.event p {
		padding-top: 20px;
		padding-bottom: 20px;
		line-height: 1.75em;
	}
}