*{
    margin: 0;
    padding: 0;
}
.modal{
    position:fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    /* transparent overlay */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
    animation: modal-open .5s;
}
.modal-open{
    padding: 8px 16px;
    background: springgreen;
    color:white;
    border-radius: 4px;
    outline: none;
    border: none;
}
.modal-content{
    background:seashell;
    margin-top: 100px;
    width:50%;
    margin-left:auto;
    margin-right:auto;
    padding:8px 24px;
    border-radius:4px;
    z-index:4;
}
.modal-header{
    padding:10px 0px;
    font-size: 1em;
}
.modal-header .modal-close{
    float:right;
    font-size:2em;
    background-color:skyblue;
    border:0;
    outline:0;
    padding:5px 8px;
    border-radius:50%;
}
.modal-body{
    color:black;
    padding:15px 0px;
}
.modal-footer .modal-close{
padding: 8px 16px;
border:none;
outline:none;
border-radius: 4px;
color:slategray;
}
@keyframes modal-open {
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }
}