/*DECLARING COLOR VARIABLES*/
:root{
    --green:#12B831;
    --dgreen:#12C131;
    --lightgreen:#22CF0A;
    --white:#FFFFFF;
    --blue: #003C8A;
    --shadow: #808080;
}
/*BASIC STYLING*/
* {
    margin: 0;
    padding: 0;
}
body{
    color:var(--white);
    /*margin: 30px 200px;*/
    background-color: var(--green);

}
h1{
    text-shadow: 1.5px 1.5px var(--shadow);
    font-family: lust, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 52px;

}
a{
    text-decoration: none;
    color: var(--white);
}
a:hover{
    cursor: pointer;
    text-decoration: none;
}
/*MAIN GRID SETTINGS*/
.section{
  display:grid;

  width:100%;
  height:100%;
  background-color:var(--green);
  overflow: hidden;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  position: relative;
}
.section-item{
    background-color: var(--dgreen);
    border: 10px solid var(--green);
    color: var(--white);   
}
.top-panel{
    grid-column: 1 / span 3;
    font-style: normal;
}
.home{
grid-row: 4 / span 3;
}   
.little-box{
  width:300px;
  height:200px; 
/*  margin-top: 60px;
  margin-left: 90px;*/
  perspective: 1000px;
  position: relative;
}
/*BOX FLIP TRANSISTION*/
.inside-box{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
/*TRANSFORMATION SETTINGS*/
.little-box:hover .inside-box{
      transform: rotateX(180deg);
}
.front-box, .back-box{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
/*STYLING OF LITTLE INNER BOXES*/
.front-box{
    background-color: var(--lightgreen);
    display: flex;
    align-items: center;
    justify-content: center;
}
.back-box{
    background-color: var(--blue);
    transform: rotateX(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}


@media{

}