/*CSS Flags*/
.flag {
	display:grid;
}
.flag-sweden {
	width: 760px;
	height: 475px;
	border: 1px solid black;
}
/*.flag-finland {
	width: 760px;
	height: 549px;
	border: 1px solid black;
}*/
/*.flag-denmark {
	width: 760px;
	height: 626px;
	border: 1px solid black;
}*/
/*.flag-iceland {
	width: 760px;
	height: 547px;
	border: 1px solid black;
}*/
/*.flag-giuland {
	width: 786px;
	height: 442px;
	border: 1px solid black;
}*/